body {
  margin: 0;
  padding: 0;
}

#wrapper {
  width: 1280px;
  position: relative;
}

#heartrate {
  left: 600px;
  position: absolute;
}

.heart {
  overflow: visible !important;
}

#heartrate-number {
  color: #FFF;
  font-family: sans-serif;
  position: absolute;
  font-size: 32px;
  left: 700px;
  bottom: -60px;
  margin: 0;
 /* right: -50px;
  top: -10px;*/
}

.heart {
  fill: #FFF;
  height: 80px;
  overflow: visible;
  width: 80px;
}

.heart path {
  color: #FFF;
  fill: #FFF;
}

#canvas {
  border-width: 1px 0 0 1px;
  position: relative;
}

#canvas .series-path {
  fill: none;
  stroke-width: 3.5;
  stroke: black;
}

